* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Lemonada', cursive;
}

body {
    width: 100%;
    height: 100vh;
    background: rgb(68, 90, 176);
    background: radial-gradient(circle, rgba(68, 90, 176, 1) 0%, rgba(59, 40, 84, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background-opacity {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(100, 100, 100, .2);
}

.btn-git {
    display: block;
    border-radius: 100%;
    text-align: center;
    width: 50px;
    height: 50px;
    color: #fff;
    background: black;
    position: absolute;
    right: 20px;
    bottom: 20px;
    box-shadow: 11px 10px 19px -4px rgba(0, 0, 0, 0.67);
}

.login-container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 11px 10px 19px -4px rgba(0, 0, 0, 0.67);
    border-radius: 70px 0px;
    position: relative;
}

.login-container div {
    width: 100%;
}

input {
    display: block;
}

.login-container__tittle {
    display: block;
    width: 100%;
    text-align: center;
}

.login-container__txt {
    margin: 20px 0;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    background: none;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.login-container__txt:focus {
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.75);
    transition: box-shadow ease .1s;
    transition: outline ease-out .1s;
}

.login-container__txt:focus::placeholder {
    color: rgba(255, 255, 255, 0);
    transition: all ease-in .15s;
}

.login-container__ckb {
    text-align: left;
    display: block;
    width: 100%;
    height: 30px;
}

.login-container__ckb input {
    display: inline-block;
    margin-right: 5px;
    outline: none;
    border: none;
    border-radius: 100%;
}

.login-container__btn {
    margin: 15px auto;
    padding: 10px 20px;
}

@media only screen and (min-width: 600px) {
    .login-container {
        width: 400px;
    }
}

@media only screen and (min-height: 420px) {
    .login-container {
        height: 410px;
    }

    .login-container__tittle {
        margin-bottom: 30px;
    }
}